<form action="/api/cookie" method="post">
name: <input type="text" name="name" id="name">
email: <input type="email" name="email" id="email">
<input type="submit" value="SUBMIT">
</form>
<button onclick="location.href='/api/cookie/view'">Get Cookie </button>