<form action="/api/sessions/login" method="post">
  email:
  <input type="email" name="email" id="email" />
  Password:
  <input type="password" name="password" id="password" />
  <input type="submit" value="Login" />
</form>
<button onclick="location.href='/api/sessions/auth/github'">GITHUB</button>
<button><a href="/restaurar">RESTAURAR PASSWORD</a></button>